.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-item{
  text-align: center;
  background: #d2d5d2;
  padding: 2rem;
  a {
    text-decoration: none;
    color: #636b6f;
  }
}

